{% extends 'torttarstud.html' %}

{% block content %}

    <h3>The Medo-Persian Empire</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/9ZYMyUgvKFM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <p>Ószövetség</p>

    <h3>Fáraók és királyok - a Biblia nyomában - 1. rész</h3>
    <p><iframe width="560" height="315" src="//videa.hu/player?v=CQLCrTqgWRljBI2j" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" frameborder="0"></iframe></p>

    <h3>Fáraók és királyok - a Biblia nyomában - 2. rész</h3>
    <p><iframe width="560" height="315" src="//videa.hu/player?v=g3mV7uhHhNDpmqlN" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" frameborder="0"></iframe></p>
  
{% endblock content %}