{% extends 'torttarstud.html' %}

{% block content %}

    <p>Kereszténység</p>
    
    <h3>The Rise and Fall of the Sassanid Persian Empire</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/HgrPT5uarKM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Byzantium - Last of the Romans (Part 1 of 2)</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/2JHCfe86A8U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Byzantium - Last of the Romans (Part 2 of 2)</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MC83SpIS49g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}