{% extends 'torttarstud.html' %}

{% block content %}

    <h3>Rise of the Seljuk Empire</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/P79ECnISamo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>The History of the Ottoman Empire</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/f9c4Y7Vf7G0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}