{% extends 'torttarstud.html' %}

{% block content %}

    <h3>Birodalmak és fénykorok 27. - A reformáció kezdetei</h3>
    <p><iframe width="560" height="315" src="https://www.dailymotion.com/embed/video/x35yioa" title="Dailymotion Video Player" frameborder="0" type="text/html" allowfullscreen></iframe></p>

    <h3>Birodalmak és fénykorok 28. - Luther Márton, a vonakodó forradalmár</h3>
    <p><iframe width="560" height="315" src="//videa.hu/player?v=amgdoGJQhJosqgHv" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" frameborder="0"></iframe></p>

    <h3>Pap Gábor - Bakócz Tamás Róma falai alatt</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/PFJ4x236Glc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
    
{% endblock content %}