{% extends 'keszsegek.html' %}

{% block content %}
    <h1>Filozófia</h1>

    <h3>CrashCourse - Phylosophy</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PL8dPuuaLjXtNgK6MZucdYldNkMybYIHKR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Olvasmányok</h3>
    <p><a href="https://atyafipeca.hu/2014/11/04/xx-szazadi-fresko-tukrok-altal-homalyoan/" target="_blank">XX. századi freskó</a></p>
    <p><a href="https://wetiko.hu/" target="_blank">Wétiko - fordítások, idézetek, gondolatok, innen-onnan</a></p>
    <p><a href="https://reflektor.blog.hu/2017/03/21/4_nyugtalanito_fordulat_amit_szaz_evvel_ezelott_helyesen_josolt_meg_a_nyugat_alkonya" target="_blank">4 nyugtalanító fordulat, amit száz évvel ezelőtt helyesen jósolt meg A Nyugat alkonya</a></p>
    <p><a href="http://mek.niif.hu/01300/01321/01321.htm" target="_blank">René Descartes: Értekezés a módszerről</a></p>

{% endblock content %}