{% extends 'keszsegek.html' %}

{% block content %}
    <h1>Pszichológia</h1>

    <h3>Feldmár András - Van élet a halál előtt?</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/OXSFuFXWUW8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Heti Agymosó Feldmár Andrással</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLqlCwX74jmVLxKCpwq1zVPih_LPsPwhmR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>CrashCourse - Psychology</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PL8dPuuaLjXtOPRKzVLY0jJY-uHOH9KVU6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Oswald Spengler - Lélekkép és életérzés - A lélek formájáról</h3>

    <h3>Oswald Spengler - Lélekkép és életérzés - Buddhizmus, sztoicizmus, szocializmus</h3>

{% endblock content %}