{% extends 'film.html' %}

{% block content %}
    <h1>Gráfelmélet</h1>

    <h3>Csíkos Dániel - Gráfok</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLVm1K8JuXBTNwxL4LBvfgz9BzHAlLtCdY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Richard Southwell - Topology for Beginners</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLCTMeyjMKRkppAPHgDo9TTT34oLZkn6GG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>A gráfelmélet alapfogalmai</h3>
    <ol>
      <li>A gráfelmélet alapfogalmai</li>
      <li>Műveletek gráfokkal</li>
      <li>Gráfok lokális tulajdonságai</li>
      <li>Kézfogási tétel és annak következménye</li>
      <li>Utak, körök, séták</li>
      <li>Maximális hosszúságú utak közös pontjainak létezéséről szóló tétel</li>
      <li>Fagráf és tulajdonságai</li>
      <li>Gráfok izomorfizmusa és gráfok feszítőfája</li>
      <li>Teljes gráf és komplementer gráf</li>
      <li>Euler-gráfok. Euler-utak</li>
      <li>Egyszerű gráfról szóló tétel</li>
      <li>Hamilton-út, Hamilton-kör. Ore tétele, Dirac tétele</li>
      <li>Gráfok összefüggősége</li>
      <li>Él szerinti és csúcspont szerinti összefüggőség</li>
      <li>Kruskal-algoritmus</li>
      <li>Prim-algoritmus</li>
      <li>Gráfok illeszkedési és szomszédsági mátrixa</li>
    </ol>

{% endblock content %}