{% extends 'film.html' %}

{% block content %}
    <h1>Numerikus matematika 2.</h1>

    <h3>StudySession - Numerical Methods Course</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLDea8VeK4MUTOBXLpvx_WKtVrMkojEh52" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Curve Fitting</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLU6SqdYcYsfL1Mrdj7bs2A6bQOU7FMqKX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Numerikus matematika 2.</h3>
    <ol>
      <li>Függvények közelítése Taylor- és MacLaurin-sorokkal</li>
      <li>Függvények közelítése Lagrange-polinommal</li>
      <li>Függvények közelítése Newton-polinommal</li>
      <li>Approximáció spline-függvényekkel</li>
      <li>B-spline approximáció</li>
      <li>Bézier-görbék</li>
    </ol>

{% endblock content %}