{% extends 'torttarstud.html' %}

{% block content %}

    <h3>Az emberiség útja</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/P0cweFOtQzo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Oswald Spengler - Városok és népek - Népek, rasszok, nyelvek</h3>

    <h3>Oswald Spengler - Városok és népek - Ősnépek, kultúrnépek, fellah-népek</h3>
  
{% endblock content %}