{% extends 'torttarstud.html' %}

{% block content %}

    <h3>Péter Ákos - A közgazdaságtan alapjai</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLv3piPhd4bSHL9zqe6KXxVCoTA4Gb6scU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Oswald Spengler - A gazdasági élet formavilága - A pénz</h3>

    <h3>Oswald Spengler - A gazdasági élet formavilága - A gép</h3>
  
{% endblock content %}