{% extends 'torttarstud.html' %}

{% block content %}

    <h3>A Szovjetunió története</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/imWu9WQm-jI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>A szovjet sztori</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/xabj8PD4Dy0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}