{% extends 'torttarstud.html' %}

{% block content %}

    <h3>Szórakozás Magyarul - Trója eltűnt városa</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/pyAhOEOnGNk?si=U-eiBSguFcn4oEa9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Szórakozás Magyarul - A Spártai Birodalom tündöklése és bukása</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/5emVB0iRYJE?si=TmsoSdtYHmLeYASW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}