{% extends 'torttarstud.html' %}

{% block content %}

    <h3>The Greek Empire</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/bn7JMYUYJRs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Első pun háború</h3>

    <h3>Második pun háború</h3>

    <h3>Harmadik pun háború</h3>

    <h3>A római gladiátorok története</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/j_Llla_wsRE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}