{% extends 'irmuvtort.html' %}

{% block content %}
    <h1>Antik irodalom</h1>
    
    <h3>Wun-Wun - Az Iliász története</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/HlJaRH_1yTo?si=0VTb8yBzsF0lf8HA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Wun-Wun - Az Odüsszeia története</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/soDUL4yMhP0?si=Sp9mluxUXtNrRV5R" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Nagylaki András - Vergilius: Aeneis</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/hDPNAT0VmyE?si=PiyVXQBQlTM8RPvc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

{% endblock content %}