{% extends 'irmuvtort.html' %}

{% block content %}
    <h1>YouTube tananyagok</h1>

    <h3>9. évfolyam | Irodalom</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=hRwamODk4lCdHVbz&amp;list=PLTr3tNM4KdIjkPB-GLnSsnbkl-lL-6_D9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>10. évfolyam | Irodalom</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=54f_PKCVoWBOQVSo&amp;list=PLTr3tNM4KdIhPfhvtPV4G4Sv5aKrvp3Va" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>11. évfolyam | Irodalom</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=lAg-UfWXVIin4PeP&amp;list=PLTr3tNM4KdIjlMu8Ekx6yefmkyM4Q4MoX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>12. évfolyam | Irodalom</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=jSMH_v8hBlUAkgro&amp;list=PLTr3tNM4KdIisjwWbKs0B-hY7zNWgiyK-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}