{% extends 'film.html' %}

{% block content %}
    <h1>Képfeldolgozás</h1>

    <h3>Képfeldolgozás</h3>
    <p>Egy képfeldolgozás függvénykönyvtár áttekintése, alapvető struktúrái. Képek, videók betöltése, mentése. Színterek, színterek közti konverziók. Képjavító eljárások használata kép- és frekvenciatérben. Alapvető morfológiai műveletek. Éldetektálás, szegmentálás. Objektumdetektálás és felismerés osztályozó módszerekkel. Esettanulmányok.</p>

    <h3>Képfeldolgozás és orvosi képalkotás</h3>
    <p>A hallgatók megismerhessék a digitális képfeldolgozással kapcsolatos legfontosabb feladatokat és módszereket, valamint a rendelkezésre álló eszközrendszert. A tárgy feladatmegoldás-centrikus, azaz a terület alapszintű paradigmáinak megismerése után nagy hangsúlyt kap a valós feladatok megoldása. Képalkotás, képpont operátorok, szegmentálás, morfológia elemei, lineáris szűrők, képtranszformációk, multi-rezolúciós képfeldolgozás, zajcsökkentés, képhelyreállítás, sajátságok kinyerése. Orvosi képalkotó eszközök, mint orvosi adatok forrásai, képrekonstrukció, direkt és indirekt vizualizáció. Adatbázisok és szoftveres eszközök.</p>

    <h3>Képmegjelenítők</h3>
    <p><a href="https://github.com/palkoadam93/Kepmegjelenito" target="_blank">C# Képmegjelenítő</a></p>

    <h3>Branch Education - How are Images Compressed? [46MB ↘↘ 4.07MB] JPEG In Depth</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Kv1Hiv3ox8I?si=iI0xLEbi5p6VJom1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Képszerkesztők</h3>

    <h3>TheHUNTutorials - PhotoShop kezdőknek</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=OTFsFQzUJi5PaHSp&amp;list=PLuYHIg_0xQJsPJcfFhwGHYat3EZWPy2uf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Primusz Péter - PhotoShop (alapok)</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLQCrW4xBBP-T18laFU-jLCVYUzrLYUYKj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Primusz Péter - PhotoShop (Retouch)</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLQCrW4xBBP-REmEzViJK5S2Q_eMMmRSll" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <p>PhotoScape</p>
    <p>Fájlok: jpg/jpeg, png, bmp, gif</p>

    <h3>Kovács Márk - Képmódosítás alapok</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLSZHrj8HevgaI_e0TWfsz5cHApxi9NWsh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>ECDL</h3>
    <p><a href="https://njszt.hu/hu/icdl/modul/kepszerkesztes" target="_blank">Képszerkesztés modul</a></p>

{% endblock content %}