{% extends 'film.html' %}

{% block content %}
    <h1>Videószerkesztés</h1>

    <h3>Primusz Péter - A videózás alapjai</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLQCrW4xBBP-Q_Lh4tws6zYlvR7urzSuA9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Lejátszók</h3>
    <p><a href="https://github.com/palkoadam93/Videolejatszo" target="_blank">C# Videólejátszó</a></p>
    <p>Windows Media Player</p>
    <p>VLC</p>

    <h3>Videószerkesztés feladatok</h3>

    <h3>Videószerkesztők</h3>
    <p>Windows Movie Maker</p>
    <p>Final Cut Pro</p>
    <p>Sony Vegas Studio</p>
    <p>Movavi</p>
    <p>Lightworks</p>
    <p>Fájlok: mp4, mov, avi</p>

    <h3>OpenShot - a videóvágó</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/3wPSgGPX6qM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Tanuljuk együtt! Videószerkesztés OpenShot segítségével</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/N32GGMPvJIg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Primusz Péter - DaVinci Resolve vágóprogram</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLQCrW4xBBP-SfOMHP1G2qYVXpD1Ehrhbz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>TheHUNTutorials - Adobe After Effects Tutorialsorozat Kezdőknek</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLuYHIg_0xQJtiFZprD4AwSVBcGiQc_H8B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>TheHUNTutorials - Sony Vegas Pro 12 [HUN]</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLuYHIg_0xQJswmx09MoodJ8J66fuEFTrx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Magyar Linux Videók - Videóvágás</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=Wg9ZgOo2i8_tr_6o&amp;list=PLtUmBa5JW2b3HHHkEs_7wuznGka6vDKgP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Magyar Linux Videók - Kdenlive</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=j7L91OqUF654oiaz&amp;list=PLtUmBa5JW2b1bB_JEzJhoFsnOrgxvGK0L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}