{% extends 'film.html' %}

{% block content %}
    <h1>Canva</h1>

    <h3>Hello Gina - Canva használata - 1 óra alatt megtanulod / ingyenes képszerkesztő tutorial / tiktokvideo gyártás</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/XGFjWMk0-PM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Szűcs Dóra - Online eszközök oktatóvideói</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLJ3zT5sy6cq8qcExb8Hn7V8Agniq4GHIC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
    
{% endblock content %}