{% extends 'keszsegek.html' %}

{% block content %}
  <h1>Valószínűségszámítás</h1>

  <h3>Csíkos Dániel - Valószínűségszámítás</h3>
  <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLVm1K8JuXBTMnrbGY-GUwMBY0_9A9_mMf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

  <h3>Ferenci Tamás - Valószínűségszámítás</h3>
  <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLqdN24UCw5hm1Hrf-EN5yhow2PlkTTApK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

{% endblock content %}