{% extends 'torttarstud.html' %}

{% block content %}

    <p>Szkíták</p>
    <p>Szarmaták</p>
    
    <h3>Iranian Parthian Empire 247BC -224AD</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/koJEyE6y5tI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Pap Gábor - Magyar őstörténet</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Dto9lEAKLug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>PAP GÁBOR - Szittya-Hun-Avar-Magyar Szkíta erkölcs, látogatás a 2010-es Kurultajon</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dKFWoE5OJ8U?si=VaXysqlgA0EHcw-o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}