{% extends 'torttarstud.html' %}

{% block content %}

    <h3>Csillagösvényen | 1. Hazatérés | 2. Bulcsu | 3. A titokzatos Szent Korona</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/CZkrsz_vgTg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Csillagösvényen | 4. Titokzatos mondáink | 5. A magyar nép eredete és nyelve | 6. Betyárvilág | 7. Az ősnyelv (1.)</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/4V2PcRPn6Ws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Csillagösvényen | 8. Magyar kereszténység, keresztény magyarság | 9. Az elfelejtett Rongyos Gárda |10. A magadaszkári királyság, magyar géniuszok | 11. Az ősnyelv (2.)</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Njom85MmXCY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}