{% extends 'torttarstud.html' %}

{% block content %}

    <h3>Pap Gábor - A Szent Korona üzenete I. rész</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/DPkGAYj1zCE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Pap Gábor - A Szent Korona üzenete II. rész</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/s3wzL3lqPEk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Pap Gábor - A Szent Korona üzenete III. rész</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/FmiPX7LrVws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

{% endblock content %}