{% extends 'torttarstud.html' %}

{% block content %}

    <h3>Az első népek 1. rész - Az amerikai kontinens</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/qVqdYC2T23E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Az első népek 2. rész - Afrika</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/R5EonirVm_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Az első népek 3. rész - Ázsia</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/o_koj1JqllY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Az első népek 4. rész - Ausztrália</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/A9t-098Au5c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Az első népek 5. rész - Európa</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/wxQ1TFkmFwg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}