{% extends 'techtermtud.html' %}

{% block content %}
    <h1>Természetföldrajz</h1>

    <h3>M5 - Érettségi / Földrajz</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=wejT4p9NrUinkCcP&amp;list=PLEiwVd6n_Q_2f1vQ9pyC2JkFHK_tg-3xG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>CrashCourse - Geography</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=TrRharwPNzVGuKbk&amp;list=PL8dPuuaLjXtO85Sl24rSiVQ93q7vcntNF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>CrashCourse - Environmental Science</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=OVcUOX__z4Yzpwoy&amp;list=PL8dPuuaLjXtOikZljhKAe28AkupJXnS2u" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Videotanár - 7. osztály földrajz tananyag</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=--1I_3yzZN5hed0_&amp;list=PL0hWfPdqf_3ZWa0SvvLzIr2UHPAsuKiLh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Videotanár - 8. osztály földrajz tananyag</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=Rfn4IPb1tMyeXzVA&amp;list=PL0hWfPdqf_3YlY9CHV6nGrNftU1tUjJzA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Videotanár - Földrajz tananyagok feladatok</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=xEucxTFO4Ye_hdGh&amp;list=PL0hWfPdqf_3b23YSEuUb2Ko76oxaLkO6O" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
    <p></p>

{% endblock content %}