{% extends 'torttarstud.html' %}

{% block content %}

    <h3>A Teutoburg-i csata (Varus csatája)</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/JoCZaUqwAAM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>A reconquista</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/_dopw6cLrtY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>A vikingek - A világjáró hajós nép rövid életútja</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/crwCLtExs9I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Wun-Wun - A vikingek igaz története</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=O6zikdkmsxDpDkWX&amp;list=PLMTBflAFLIh7u1_o_zGMJWHRq0V8zZcTm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>A vikingek és a halál - 1. rész - Az első viking portya</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Up9nWp6JR7I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>A vikingek és a halál - 2. rész - A titkos viking sír</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/FdoZeU1iUI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>A vikingek és a halál - 3. rész - A vikingek temetkezési hajói</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fjhgSgD-UoI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Északi/Skandináv Mitológia [lejátszási lista]</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLMTBflAFLIh7UpBvMwMODckLKJb-16PXb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>A kelták: vér, vas és áldozat | 1. rész</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/X3QF-Ngv2p4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>A kelták: vér, vas és áldozat | 2. rész</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/E1lj_kyMe-I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>A kelták: vér, vas és áldozat | 3. rész</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/NAL3YJw7k60" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <p>Meroving-Karoling</p>
    <p>Frank Birodalom</p>
    <p>Anglia</p>
    <p>Pápaság VI-X. század</p>

    <h3>The Middle Ages</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/VbPTwuIQfmc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <p>Román művészet</p>
  
{% endblock content %}