{% extends 'torttarstud.html' %}

{% block content %}

    <h3>A francia forradalom I. rész</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ov__QwSxmSY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>A francia forradalom II. rész</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Y6uSmzS5ZPk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Bonaparte Napóleon és a korszak világháborúja</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/472DWqAL42M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Szórakozás Magyarul - Napóleon</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/BLctDxsksgo?si=sXFJW9WpC8YgDyGu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Kings and Generals - Napoleonic Wars</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLaBYW76inbX41sSPLjvUyYfRY0B4ihYBN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <p>Forradalmak</p>

    <h3>A német egység (a Német Császárság létrejötte)</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/N9frYHqkTfY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Az első világháború "röviden"</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MBP7Glr9I6w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
    
    <h3>Apokalipszis - Első világháború</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLuKeeAjzH_BqRthx5ygBlfyLnJiYOnL7z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Keleti Front 1. rész (A Barbarossa hadművelettől a berlini csatáig)</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/f4TmywzSebc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Apokalipszis - Második világháború</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLuKeeAjzH_Bo5vRPUqFGeYpR-1aoUAqOV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Nürnberg - Hermann Göring pere - I. rész</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/cZMN7LHGW6Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Nürnberg - Hermann Göring pere - II. rész</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/XscqMcE0Ky8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Rejtélyes XX. század</h3>
    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLEiwVd6n_Q_1vzhIitkqE4i9GAaSg5qUe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>A hidegháború - A szuperhatalmak versenye</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/jxOaGDX7SD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}