{% extends 'torttarstud.html' %}

{% block content %}

    <h3>Vallások és hitek - Konfucianizmus és taoizmus</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/pzBpnx2Yzr8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Taoizmus</h3>
    <p><a href="https://terebess.hu/keletkultinfo/lao.html" target="_blank">Lao Ce: Tao Te King (összegyűjtött fordítások)</a></p>
  
{% endblock content %}