.fulszoveg p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
    padding: 0 1rem;
}

/*#bemutat div {background-color: #F5FFFA;}*/

section a:hover {
    text-decoration: none;
}

#index h1 {
    margin: 0;
    font-size: 3rem;
    color: rgb(239, 62, 54);
}

#szurke {color: grey;}
#sarga {color: orange;}
#lila {color:blueviolet;}
#zold {color: green;}
#piros {color:crimson;}
#citrom {color:yellowgreen;}

button {
    border: none;
    padding: 0;
    display: block;
    margin-left: 2rem;
    margin-left: auto;
}

button a {
    display: block;
    background-color: white;
    color: orange;
    padding: .5rem;
    border: 1px solid orange;
}

button a:hover {
    text-decoration: none;
    border: 1px solid orange;
    background-color: orange;
    color: white;
}

#elvalaszto {
    width: 30%;
    display: block;
    margin: 3rem auto;
    border-radius: 50%;
}

@media(min-width:1081px){
    .fulszoveg {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0 10%;
        /*ha ezt a fulszoveg div elemnek adjuk, akkor a fulszoveg felének veszi a 10%-át!!!*/

        background-image: url("confetti-2571539_1280.jpg");
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    .fulszoveg p {
        padding: 1rem;
        background-color: rgba(255, 255, 255, .8);
        margin: 0;
    }

    #elvalaszto {
        max-width: 5%;
    }

    #index {
        display: block;
    }

    .begin {
        padding-top: 3rem;
    }
    .alcim {
        display: grid;
        grid-template-columns: 50% 50%;
        /*height: 30rem;*/
    }
    .alcim h1, .alcim p {
        margin: 0;
        background-color: rgba(255, 255, 255, .8);
        padding: 1rem 2rem;
    }
    #alcimiras {
        background-image: url("../iras/typewriter-1170657_1280.jpg");
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimmuv {
        background-image: url("../muv/ai-generated-8166706_1920.png");
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimpoli {
        background-image: url('../poligon/deer-3275594_1280.jpg');
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimanim {
        background-image: url('../anim/avatar-1738010_1920.jpg');
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimszin {
        background-image: url("../szin/enactment-258631_1920.jpg");
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
    #alcimtanc {
        background-image: url('../tanc/dance-430554_1280-2.jpg');
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimzene {
        background-image: url('../zene/singer-2606347_1920.jpg');
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimfilm {
        background-image: url('../film/sony-1455035_1280.jpg');
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }

    h1 {
        padding: 3rem 0 3rem 20%;
    }

    #index h2 {border: none;}
}