main {
    border-bottom: 1px dotted;
    color: black;
}

main h1 {
    text-align: center;
    font-family: 'Inter';
    font-weight: bold;
}

main h2 {
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,0,0,.8), rgba(255,255,255,0));
    padding: .5em;
    text-align: center;
    margin: 0;
    color: white;
    font-family: 'Inter';
    font-weight: bold;
}

section {
    border-left: 1px dotted;
    border-bottom: 1px dotted;
    font-weight: bold;
    /*background-color: yellow;*/
}

section p {
    text-align: justify;
}

section a {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 1em;
    background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,0));
}

section a:hover {
    background-image: linear-gradient(to right, white, rgba(255,0,0,.8));
    color: black;
}

.bal {
    background-color: rgba(255,255,255,.5);
    padding: 1em;
}