body {background: black;}

.cim {
    /*background-color: rgba(255,255,255,.8);*/
    /*background-color: rgba(26,26,29,.9);*/
    /*background: #FF9B6A;*/
    background: white;
    padding: 3rem;
    text-align:center;
}

.cim h1 {
    margin:1rem;
    font-family: 'Inter', sans-serif;
}

.cim h2 {
    margin: 1rem 0;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.cim p {
    text-align: justify;
}

section {
    position: relative;
    display: block;
    text-align: center;
    /*margin: .2em;*/
    color: white;
}

.sarga {
    background: #FF5151;
    color: black;
}
.coral {
    background: #FF9B6A;
    color: white;
}
.blue {
    background: #191970;
    color: white;
}
.cyan {
    background: cyan;
    color: black;
}
.white {
    background: white;
    color: black;
}

section a {
    display: block;
    padding: 5em 0;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

section a:hover {
    background-color: /*#FF5151;*/ #FF9B6A;
    color: black;
}

.fekete {
    color: black;
}

#tort {
    background-image: url('hieroglyphs-4799147_640.jpg');
    background-size:cover;
    background-position:center;
}

#irod {
    background-image: url('bookcases-1869616_640.jpg');
    background-size:cover;
    background-position:center;
}

#tech {
    background-image: url('book-4126483_640.jpg');
    background-size:cover;
    background-position:center;
}

#kesz {
    background-image: url('alphabet-4571742_640.jpg');
    background-size:cover;
    background-position:center;
}

@media (min-width:1081px){
    main {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}