body {
    background-image:url('film.jpg');
}

header h2 {
    letter-spacing: 0;
    margin-right: 0;
}

aside h2 {
    background-image: linear-gradient(to right, rgba(255,0,0,.8), rgba(255, 127, 80, .8));
}

main h4 {
    margin: 1em;
    border-radius: 20px;
    background-image: linear-gradient(to right, coral, white);
}

main h4 a {
    display: block;
    padding: 2em;
    border-radius: 20px;
    font-size: 1.5em;
    color: black;
    font-family: 'Dosis', sans-serif;
    /*float: left;
    width: 30%;*/
}

main h4 a:hover {
    background: white;
    color: black;
}

main h4 p {float: right; width: 30%; font-family: 'Dosis', sans-serif;}