{% extends 'torttarstud.html' %}

{% block content %}

    <h3>The Inca - Cities in the Cloud (Part 1 of 2)</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/BRB9dJmZhVk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>The Inca - Cities in the Cloud (Part 2 of 2)</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/2GkNOT2Q2hk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Szórakozás Magyarul - Cuzco - Inka Birodalom - Monumentális történelem</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/5oQ5w1nWVv4?si=awnXU3IAQfErQnZ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Szórakozás Magyarul - A Maja Piramisok Titkai</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/RyKG4cX3T18?si=iC729NYxUuGH2eNj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}