{% extends 'torttarstud.html' %}

{% block content %}

    <h3>Egy birodalom felépítése - Aztékok</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/t05di_D-aAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>The Mayans - Ruins Among the Trees</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/z9YwfTerAdA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>The Aztecs - A Clash of Worlds (Part 1 of 2)</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/f8JVdpWCKeM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>The Aztecs - A Clash of Worlds (Part 2 of 2)</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/cDdKZrvg1pE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Pap Gábor AZTÉKOK, MAJÁK 2017 Nagykanizsa</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/I3DnUW70K24" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}