{% extends 'film.html' %}

{% block content %}
    <h1>Angol nyelv</h1>

    <h3>M5 - Szólalj meg angolul!</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLEiwVd6n_Q_1VfWgKhib1_lrbOEDTVT2h" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>CrashCourse - Linguistics</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PL8dPuuaLjXtP5mp25nStsuDzk2blncJDW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Érettségi felkészítő | Angol nyelv</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=u114w3vMJLf4XPTB&amp;list=PLTr3tNM4KdIiUpw_Efm7SE3DSUm6STCha" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Megtanulok angolul - Kezdő szint</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=rA4tkqMj7myS1CtJ&amp;list=PLhmhbO13jDUjPd9i-zAD8vRE7lA88ChL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Tanulj utazás közben | Angol Alapfok | Kezdőknek</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=hrQHC3wQc4XlMDMW&amp;list=PLhmhbO13jDUj6B1PDKhwdHEYJzBH3gxlT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Középfok - Nyelvvizsgázzunk angolból</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=KLeGbUnsIwpZzffn&amp;list=PLhmhbO13jDUjz6JclCBlgmuwRwBNQV4B5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Jöhet a felsőfok - Angol tanulás C1 szinten</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=wjqNpqKtu4dR643p&amp;list=PLhmhbO13jDUhlFjbBN8OOQ9dVhirCnG66" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

{% endblock content %}