{% extends 'torttarstud.html' %}

{% block content %}

    <h3>Asszíria, a terror politikája, Ashurbanipal a birodalom végzete és Nabu isten (világtörténelem)</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/PESdjgM05tw?si=e_eVnsOnnssjgQCu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Fall of Civilizations - The Assyrians - Empire of Iron</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/jpAphcaVJIs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}