{% extends 'torttarstud.html' %}

{% block content %}

    <h3>David Rohl - Az Édenkert nyomában</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/wLMxGdp8WlM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>A Biblia titkai 3. - Bábel tornya</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/wMVFTNeWtiM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}