{% extends 'torttarstud.html' %}

{% block content %}

    <h3>Sumer, a történelem kezdete (világtörténelem)</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Mbedcri1idI?si=gwfEO5wnLBFiQz6k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Szórakozás Magyarul - Mezopotámia - a civilizáció bölcsője</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Ha8pmf2z8J4?si=3KRJj_Bp44U5pSJl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

    <h3>Fall of Civilizations - The Sumerians - Fall of the First Cities</h3>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/d2lJUOv0hLA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
  
{% endblock content %}